
<div id="col1">
	<h2>Build a Minifig</h2>
	<div class="panel panel-default panel-search">
		<div class="panel-heading">
			<form class="navbar-form" action="/search/" method="post">
				<div class="form-group">
					<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
					<select class="form-control" name="part_type">
						<option <% if session[:part_type] == "head" %>selected<% end %> value="<%= Head.first.part_type %>">Heads</option>
						<option <% if session[:part_type] == "torso" %>selected<% end %> value="<%= Torso.first.part_type %>">Torsos</option>
						<option <% if session[:part_type] == "legs" %>selected<% end %> value="<%= Leg.first.part_type %>">Legs</option>
						<option <% if session[:part_type] == "accessory" %>selected<% end %> value="<%= Accessory.first.part_type %>">Accessories</option>
					</select>
					<input id="part_search" class="form-control" name="part_search" value="<%= session[:part_search] %>" />
					<button class="btn btn-default">Search</button>
				</div>
			</form>
		</div>
		<div class="panel-body">
			<div id="search_body">
				<%= render partial: "/minifigs/search_result.html.erb", locals: {parts: @parts} %>
			</div>
			<div id="search_links">
				<%= paginate @parts, param_name: @part_page %>
			</div>
		</div>
	</div>
</div>


<div id="col2">
	<div class="panel panel-default panel-build">
		<div class="panel-body">
			<ul class="nav nav-pills" role="tablist">
				<li role="presentation" class="active">
					<a href="#build" aria-controls="build" role="tab" data-toggle="pill">Build view</a>
				</li>
				<li role="presentation">
					<a href="#saved" aria-controls="saved" role="tab" data-toggle="pill">Latest builds</a>
				</li>
				<!--li role="presentation">
					<a href="/users/<%= current_user.id %>">All builds</a>
				</li-->
			</ul>
			<div class="tab-content">
				<div role="tabpanel" class="tab-pane active" id="build">
					<%= render partial: "/minifigs/form_minifig.html.erb" %>
				</div>
				<div role="tabpanel" class="tab-pane" id="saved">
					<%= render partial: "/minifigs/all_minifig.html.erb" %>
				</div>
			</div>
		</div>
	</div>
</div>


<script>
	$(document).ready(function(){
		$(".grid_part").on("click", function() {
			$(this).find("form")[0].submit();
		});
		$("#part_search").on("focus", function() {
			$(this).attr("data-search", $(this).val());
			$(this).val('');
		});
		// $("#part_search").on("blur", function() {
		// 	if ($(this).val() == '') {
		// 		$(this).val( $(this).attr("data-search") );
		// 	}
		// });

		// $('.form_div img').click(function(event) {
		// 	event.preventDefault();
		// 	$.ajax({
		// 		url           : "https://rebrickable.com/api/get_part",
		// 		data : {
		// 			key        : "QVH4zSR0PZ",
		// 			format     : "json",
		// 			part_id    : $(this).parents(".form_div").find(".form_id").html(),
		// 			inc_rels   : 1,
		// 		},
		// 		type          : "GET",
		// 		dataType      : "json",
		// 	})
		// 	.done(function( json ) {
		// 		console.log( json.related_parts[0].related_to.part_id );
		// 		var arr = JSON.stringify( json.related_parts )
		// 		$("#col1").append("test");
		// 		$("#col1").append(arr);
		// 	})
		// 	.fail(function( xhr, status, errorThrown ) {
		// 		// alert( "Sorry, there was a problem!" );
		// 		console.log( "rebrickable Error: " + errorThrown );
		// 		console.log( "rebrickable Status: " + status );
		// 		console.dir( xhr );
		// 	})
		// 	.always(function( xhr, status ) {
		// 		// alert( "The request is complete!" );
		// 	});
		// });

	});
</script>