
<div id="col1">
	<h2>Build a Minifig</h2>
	<div class="panel panel-default">
		<div class="panel-heading">
			<form class="navbar-form" action="/search/" method="post">
				<div class="form-group">
					<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
					<select class="form-control" name="part_type">
						<option selected value="<%= Head.first.part_type %>">Heads</option>
						<option value="<%= Torso.first.part_type %>">Torsos</option>
						<option value="<%= Leg.first.part_type %>">Legs</option>
						<option value="<%= Accessory.first.part_type %>">Accessories</option>
					</select>
					<input class="form-control" name="part_search">
					<button class="btn btn-default">Search</button>
				</div>
			</form>
		</div>
		<div class="panel-body">
			<div id="search_body">
				<%= render partial: "/minifigs/search_result.html.erb", locals: {parts: @parts} %>
			</div>
			<div id="search_links">
				<%= paginate @parts, param_name: @part_page %>
			</div>
		</div>
	</div>
</div>


<div id="col2">
	<div class="panel panel-default">
		<div class="panel-body">
			<ul class="nav nav-pills" role="tablist">
				<li role="presentation" class="active">
					<a href="#build" aria-controls="build" role="tab" data-toggle="pill">Build view</a>
				</li>
				<li role="presentation">
					<a href="#saved" aria-controls="saved" role="tab" data-toggle="pill">Latest builds</a>
				</li>
				<li role="presentation">
					<a href="/users/<%= current_user.id %>">All builds</a>
				</li>
			</ul>
			<div class="tab-content">
				<div role="tabpanel" class="tab-pane active" id="build">
					<%= render partial: "/minifigs/form_minifig.html.erb" %>
				</div>
				<div role="tabpanel" class="tab-pane active" id="saved">
					<%= render partial: "/minifigs/all_minifig.html.erb" %>
				</div>
			</div>
		</div>
	</div>
</div>


<script>
	$(document).ready(function(){
		$(".grid_part").on("click", function() {
			console.log('click');
			$(this).find("form")[0].submit();
		});


		$('#form_head').click(function(event) {
			event.preventDefault();
			$.ajax({
				url           : "https://rebrickable.com/api/get_part",
				data : {
					key        : "QVH4zSR0PZ",
					format     : "json",
					part_id    : $(this).find(".form_id").html(),
					inc_ext    : 1,
					inc_colors : 1,
				},
				type          : "GET",
				dataType      : "json",
			})

			.done(function( json ) {
				console.log('ajax success rebrickable');
				var lego_design_id = json.external_part_ids[1].lego_design_id;

				$.ajax({
					url       : "https://api.brickowl.com/v1/catalog/search",
					data : {
						key    : "60bc73a3b961049c242064bc77a5632c7d3a6fa6ef23859334b9540a11010e10",
						query  : lego_design_id,
					},
					type       : "GET",
					dataType   : "json",
				})
				.done(function( json ) {
					console.log('ajax success brickowl');
					$("#col1").append(json);
					$("#col1").append(json[0]);
				})
					.fail(function( xhr, status, errorThrown ) {
					// alert( "Sorry, there was a problem!" );
					console.log( "brickowl Error: " + errorThrown );
					console.log( "brickowl Status: " + status );
					console.dir( xhr );
				})


			})
			.fail(function( xhr, status, errorThrown ) {
				// alert( "Sorry, there was a problem!" );
				console.log( "rebrickable Error: " + errorThrown );
				console.log( "rebrickable Status: " + status );
				console.dir( xhr );
			})

			.always(function( xhr, status ) {
				// alert( "The request is complete!" );
			});

		});

	});
</script>