<!DOCTYPE html>
<html>
	<head>
		<title>Mfg</title>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>
	</head>

	<body>

		<header class="bs-docs-nav navbar navbar-static-top" id="top">
			<div class="container">
				<ul class="nav navbar-nav">
					<li><img id="icon" src="https://d30y9cdsu7xlg0.cloudfront.net/png/50961-200.png" /></li>
				<% if request.original_url.include? 'minifigs' %>
					<li><h3>Welcome <%= current_user.first_name %></h3></li>
				<% elsif request.original_url.include? 'users/new' %>

					<li><h3>Minfigs Galore</h3></l3>
				<% end %>
				</ul>

				<ul class="nav navbar-nav navbar-right">
				<% if request.original_url.include? 'minifigs' %>
					<li><a href="/users/<%= current_user.id %>">Settings</a><li>
				<% elsif request.original_url.exclude? 'users/new'%>
					<li><a href="/minifigs/<%= current_user.id %>"><%= current_user.first_name %>'s Minifigs</a></li>
				<% end %>
				<% if current_user %>
					<li>
						<form id="logout" action='/sessions/<%= current_user.id %>' method='post'>
							<input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
							<input type='hidden' name='_method' value='delete'>
							<input class="btn btn-default" type='submit' value='Log Out'>
						</form>
					</li>
				<% end %>
				</ul>
			</div>
		</header>

		<div class="container">
			<% if flash[:errors] %>
			<div id="message" class="bg-danger">
				<% flash[:errors].each do |error| %>
					<p class="error"><%= error %></p>
				<% end %>
			</div>
			<% end %>
			<% if flash[:success] %>
			<div id="message" class="bg-success">
				<p class="success"><%= flash[:success] %></p>
			</div>
			<% end %>

			<%= yield %>

		</div>
	</body>
</html>